.logo-container {
  height: $base-logo-container-height;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $base-transition;

  // 网页logo
  .website-logo {
    width: $base-logo-size;
    height: $base-logo-size;
  }

  // 网页名称
  .website-name {
    font-size: 25px;
    color: white;
    transition: $base-transition;
  }
}