@use "reset";

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px; /* 定义基准字体大小 */
  line-height: 1.5; /* 调整行高与字体大小的比例 */
  overflow: hidden; /* 防止溢出 */
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/**
 * Fade animation
 */
.fade-enter {
  opacity: 0;
  transform: scale(0.5);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

// 修改 antD Menu 子项选中时的样式
.ant-menu-item.ant-menu-item-selected {
  background-color: #087EA4;
}

.ml-12 {
  margin-left: 12px;
}
