/**
 * A variable file.
 */
$color-primary: #0A7EA4;

// 路由变换动画
@keyframes base-router-animation {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// 第三方登录图标共享样式
@mixin iconTheme {
  font-size: 25px;
  cursor: pointer;
}

// 短信登录和密码登录共享样式
@mixin captchaAndPassword {
  margin-top: 20px;

  .btn-grp {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

// 居中样式
@mixin center-theme {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 左侧菜单栏宽度
$base-menu-width: 250px;
// 左侧菜单栏折叠状态宽度
$base-menu-collapsed-width: 80px;
// 左侧菜单栏背景色
$base-menu-bg-color: #001529;

// logo 高度
$base-logo-container-height: 50px;

// 顶部tabbar高度
$base-tabbar-height: 50px;

// 基础变化
$base-transition: 0.25s all linear;

// 网站logo大小
$base-logo-size: 45px;